<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard/sp">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-3 fs-4 mb-2 mb-lg-0 ">;
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Logout</a></li>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex justify-content-center mt-5 ">
        <div class="card">
            <div class="card-header"><strong>Book Your Slot</strong></div>
            <div class="card-body">
                <form action="/availability/sp" method="POST">
                <table class="table border">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>

                            <th scope="col">slots</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for date,slots in spslots.items() %}
                        <tr>
                            <th scope="row">{{date}}</th>
                            <td>
                                {% for slot in slots %}
                                {% set
                                slot_value=slot.date.strftime('%Y-%m-%d')+'_'+slot.start_time.strftime('%H:%M')+'_'+slot.end_time.strftime('%H:%M')
                                %}
                                <input type="checkbox" class="btn-check" id="btn-check-{{slot.date}}{{loop.index}}"
                                    autocomplete="off" name="slot" value="{{slot_value}}">
                                <label class="btn btn-outline-primary"
                                    for="btn-check-{{slot.date}}{{loop.index}}">{{slot.start_time.strftime('%H:%M')}}-{{slot.end_time.strftime('%H:%M')}}</label>
                                {% endfor %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>